    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Trabalho de Projeto Integrador </h1>
				<img src="http://ctnovatec.com.br/wp-content/uploads/2015/03/nodejs-logo.png" width="20%">
                <hr>
                <p>Trabalho em Node.js com seus framework disponiveis como Express, Ejs, Nodemon para avaliação.<p>
            </div>
        </div>
    </header>